<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Exploring Flask{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>

  <body>
    <!--Navbar-->
    <nav id="navbar">
      <div class="nav-edge">
        <p class="nav-item" id="nav-name"><a href="/">MALEEHA MIRZA</a></p>
        <p class="nav-divider"></p>
      </div>
      <ul class="navlist">
        <li class="nav-item"><a href="/#about-section">ABOUT</a></li>
        <p class="nav-divider"></p>
        <li class="nav-item"><a href="/#project-section">PROJECTS</a></li>
      </ul>
      <div class="nav-edge">
        <p class="nav-divider"></p>
        <p class="nav-item"><a href="/reflection">REFLECTION</a></p>
      </div>
    </nav>

    <!--rest of the page-->
    {% block content %}{% endblock %}

    <!--footer-->
    <footer>
      <div class="footer-container">
        <div class="footer-item footer-item-left">
          <p>COMPUTER SCIENCE STUDENT</p>
          <div id="hero-buttons">
            <!-- LINKEDIN -->
            <a
              href="https://www.linkedin.com/in/maleeha-mirza/"
              class="hero-button"
              target="_blank"
            >
              <img
                src="/static/images/linkedin_icon.png"
                alt="LinkedIn Icon"
                class="icon"
              />
            </a>
            <!-- GITHUB -->
            <a
              href="https://github.com/maleehaMirza"
              class="hero-button"
              target="_blank"
            >
              <img
                src="/static/images/github_icon.png"
                alt="Github Icon"
                class="icon"
              />
            </a>
    
          </div>
        </div>
        <div class="footer-item footer-item-right">
          <h2>Maleeha Mirza</h2>
        </div>
      </div>
    </footer>
  </body>
</html>
