{% extends 'base.html' %} {% block title %}Exploring Flask{% endblock %} {%
block content%}

<!--About section-->
<div id="hero-section">
  
  <section id="hero-grid">
    <img src="/static/images/profile.png" alt="Personal Headshot" id="profile" class="image"/>
    
    <div id="hero-content">
      <h2>MALEEHA MIRZA</h2>
      <p>COMPUTER SCIENCE STUDENT</p>

      <div id="hero-buttons">
        <!-- LINKEDIN -->
        <a href="https://www.linkedin.com/in/maleeha-mirza/" class="hero-button" target="_blank">
          <img src="/static/images/linkedin_icon.png" alt="LinkedIn Icon" class="icon"/>
        </a>
        <!-- GITHUB -->
        <a href="https://github.com/maleehaMirza" class="hero-button" target="_blank">
          <img src="/static/images/github_icon.png" alt="Github Icon" class="icon"/>
        </a>
      
      </div>

    </div>
    
  </section>
  <hr style="text-align:left; margin-left:0; border: none; height: 1px; background-color: black;">
</div>

<!--About Section-->
<div id="about-section">
  <section>
    <h2>ABOUT</h2>
    <p>I am a 3rd year computer science student at Toronto Metropolitan University. I love learning about web development! In my spare time, I love watching anime and baking ✨</p>
  </section>
</div>

<!--Projects Section-->
<div id="project-section">
  <section>
    <h2>PROJECTS</h2>

    <!--For loop to render all projects from projects list from app.py-->
    <div id="project-grid">
      {% for project in projects %}

      <div class="project">
        <img src={{project["image"]}} alt="Project Image" class="project-image"/>
        <div class="project-content">
          <p class="project-title">{{project["title"]}}</p>
          <p class="project-description">{{project["description"]}}</p>
          <a href={{project["github"]}} class="project-github-button" target="_blank">VIEW PROJECT</a>
        </div>
      </div> 

      {% endfor %}
    </div>
  </section>
</div>

{% endblock %}
